useDynLib(metacartv2)
exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(gridExtra)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_polygon)
importFrom(Rcpp, evalCpp)
importFrom("stats", "as.formula", "predict")
importFrom("stats", "model.response", "terms")
importFrom("stats", "delete.response", "model.frame")
importFrom("stats", "pchisq", "pnorm", "qnorm")
importFrom("stats", "symnum")
importFrom("rpart", "prune.rpart", "rpart", "rpart.control")
importFrom("methods", "is")

S3method(summary,REmrt)
S3method(summary,FEmrt)
S3method(plot,REmrt)
S3method(plot,FEmrt)
S3method(predict,REmrt)
S3method(predict,FEmrt)
S3method(print,FEmrt)
S3method(print,REmrt)

