useDynLib(metacartv2)
exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(gridExtra)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_polygon)
importFrom(Rcpp, evalCpp)
importFrom("stats", "model.response", "terms")
importFrom("stats", "delete.response", "model.frame")
importFrom("stats", "pchisq", "pnorm", "qnorm")
importFrom("stats", "symnum")
S3method(summary,REmrt)
S3method(plot,REmrt)
S3method(predict,REmrt)
